body {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 500px; */
  min-width: 100%;
}
header nav {
  /* background-color: rgba(78, 77, 77, 0.179); */
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
  font-size: x-large;
  color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  z-index: 5;
}
header nav h3 {
  margin: 0;
}
header nav .pages-container {
  gap: 20px;
  display: flex;
}
header nav .pages-container a {
  color: rgba(255, 254, 254, 0.557);
  text-decoration: none;
}
header nav .pages-container a:hover {
  text-decoration: underline;
  color: white;
}
#home {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  height: 100vh;
  box-sizing: border-box;
}
.quote {
  color: white;
  font-size: x-large;
  font-family: cursive;
}
main {
  display: flex;
  /* flex: 1; */
  /* background-color: aqua; */
  justify-content: space-evenly;
  align-items: center;
  /* padding-top: 60px; */
  /* box-sizing: border-box; */
}
main .picture-contanier {
}
main .picture-contanier img {
  clip-path: circle(50%);
  filter: drop-shadow(10px 0px 10px rgba(249, 248, 248, 0.297))
    drop-shadow(-10px 0px 10px rgba(249, 248, 248, 0.297));
}
main .about-me {
  /* border: solid 1px white; */
  color: white;
  padding: 10px;
  width: 40%;
}
main .about-me .name {
  font-size: xxx-large;
}
main .about-me .profession {
  margin: 0;
  font-size: xx-large;
}
.profession::after {
  content: "Software Engineer";
  animation: changeText 5s infinite;
}
@keyframes changeText {
  0%,
  25% {
    content: "Software Engineer";
  }
  26%,
  50% {
    content: "Front-End Developer";
  }
  51%,
  75% {
    content: "Back-End Developer";
  }
  76%,
  100% {
    content: "Full Stack Developer";
  }
}
main .about-me .info {
  margin: 10px 0;
  /* background-color: aqua; */
  font-size: x-large;
}
hr {
  border: none;
  height: 2px;
  background-color: white;
  margin: 0;
  opacity: 0.5;
}
#projects {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 50px;
}
#projects h1 {
  text-align: center;
  font-size: xxx-large;
}
#projects .ecommerce-site {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-left: 50px;
  margin-right: auto;
  border-radius: 10px;
  font-size: larger;
  padding: 5px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(255, 255, 255, 0.436) inset;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* color: rgba(255, 254, 254, 0.557); */
}
#projects .ecommerce-site .thumbnail img {
  /* transform: rotate(0.95turn); */
  clip-path: xywh(0 5px 100% 75% round 15% 0);
  width: 400px;
}

#projects .project-2 {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 10px;
  font-size: larger;
  padding: 5px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(255, 255, 255, 0.436) inset;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
#projects .project-3 {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-left: 50px;
  margin-right: auto;
  border-radius: 10px;
  font-size: larger;
  padding: 5px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(255, 255, 255, 0.436) inset;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  box-shadow: 5px 0px 15px rgba(255, 255, 255, 0.5);
  padding: 20px 20px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
footer .container {
  font-size: x-large;
  gap: 20px;
  display: flex;
}
footer .container a {
  color: rgba(255, 254, 254, 0.557);
  text-decoration: none;
}
footer .container a:hover {
  text-decoration: underline;
  color: white;
}
@media only screen and (max-width: 376px) {
  header nav {
    font-size: medium;
    padding: 10px 10px;
  }
  header nav .pages-container {
    gap: 10px;
    display: flex;
  }
  #home main {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
  }
  main .picture-contanier img {
    height: 200px;
  }
  main .about-me {
    padding: 0;
    /* max-width: 375px; */
    width: 375px;
  }
  main .about-me .name {
    font-size: xx-large;
    text-align: center;
  }
  main .about-me .profession {
    font-size: xx-large;
    text-align: center;
  }
  main .about-me .info {
    /* background-color: aquamarine; */
    padding: 10px 10px;
    font-size: large;
    text-align: center;
  }
  .quote {
    font-size: large;
    text-align: center;
  }
  footer .container {
    font-size: medium;
    gap: 10px;
    display: flex;
  }
}
@media only screen and (min-width: 376px) and (max-width: 415px) {
  #home {
    height: 100dvh;
  }
  header nav {
    font-size: larger;
    padding: 10px 10px;
  }

  header nav .pages-container {
    gap: 10px;
    display: flex;
  }
  main .picture-contanier img {
    height: 250px;
  }
  #home main {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
  }
  main .about-me {
    padding: 0;
    width: 410px;
  }
  main .about-me .name {
    font-size: xx-large;
    text-align: center;
  }
  main .about-me .profession {
    font-size: xx-large;
    text-align: center;
  }
  main .about-me .info {
    /* background-color: aquamarine; */
    padding: 10px 10px;
    font-size: larger;
    text-align: center;
  }
  .quote {
    font-size: larger;
    text-align: center;
  }
  footer .container {
    font-size: larger;
    gap: 10px;
    display: flex;
  }
}
@media screen and (min-width: 415px) and (max-width: 431px) {
  #home {
    height: 100dvh;
  }
  header nav {
    font-size: larger;
    padding: 20px 10px;
  }
  header nav .pages-container {
    gap: 10px;
  }
  #home main {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
  }
  main .picture-contanier img {
    height: 300px;
  }
  main .about-me {
    padding: 0;
    width: 410px;
    /* background-color: antiquewhite; */
  }
  main .about-me .name {
    font-size: xx-large;
    text-align: center;
  }
  main .about-me .profession {
    font-size: xx-large;
    text-align: center;
  }
  main .about-me .info {
    /* background-color: aquamarine; */
    padding: 10px 10px;
    font-size: larger;
    text-align: center;
  }
  footer {
    padding: 20px 20px;
  }
  footer .container {
    font-size: larger;
  }
}
@media screen and (min-width: 431px) and (max-width: 769px) {
  header nav {
    font-size: xx-large;
    padding: 20px 20px;
  }
  header nav .pages-container {
    gap: 20px;
  }
  #home {
    /* background-color: aqua; */
    gap: 50px;
  }
  main .picture-contanier {
    /* background-color: aqua; */
    padding: 5px;
    padding-left: 20px;
  }
  main .picture-contanier img {
    height: 400px;
  }
  main {
    display: flex;
    gap: 5px;
  }
  main .about-me {
    padding: 5px;
    width: 380px;
    /* background-color: antiquewhite; */
    text-align: center;
  }
  footer {
    padding: 20px 20px;
  }
  footer .container {
    font-size: xx-large;
  }
  .quote {
    font-size: xx-large;
    text-align: center;
  }
}
